<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'mechanics')}">
<body>
<h2>Mechanics</h2>
<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Specialties</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mechanic : ${mechanics.mechanicList}">
        <td th:text="${mechanic.firstName + ' ' + mechanic.lastName}"></td>
        <td><span th:each="specialty : ${mechanic.specialties}"
                  th:text="${specialty.name + ' '}"/> <span
                th:if="${mechanic.nrOfSpecialties == 0}">none</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>
